.navbar{
width: 40%;
}
.nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}
 .ali:hover{
    border-bottom: 4px solid black;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 46px;
    font-weight: 800;

}

.about{
    display: flex;
    flex-direction: column;
   width: 50%   ;
    height: 100%;
    
    
}
.about .desc{
    margin-top: 50px;
  
}
.wrapabout{
    height: 500px;
    margin-top: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    margin: 20px;
}
.ex{
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.experience{
width: 100%;
}
.wrap-ex{
    position: relative;
    width: 80%;
    height: 10px;
  
    border-radius: 20px;
    background-color: rgb(231, 231, 231);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.progess{
    position: absolute;
    width: 70%;
    bottom: 0;
    left: 0;
    height: 100%;
    margin-top: 5px;
    border-radius: 20px;
    background-color: rgb(0, 142, 224);
}
.p1{
    width: 60%;
}
.p2{
    width: 90%
}
.p4{
    width: 70%;
}
.p3{
    width: 50%;
}
.p-desc{
    font-size: 14px;
    font-weight: bold;
    
}
.pr-item{
    width: 23%;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 20px;
    height: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 0.4s;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.pr-item:hover{
    box-shadow: 0px 0px 10px rgb(233, 233, 233);
    border: 1px solid rgb(255, 255, 255);
}
.pr-img{
    width: 100%;
    border-radius: 20px 0px;
    -webkit-border-radius: 20px 0px;
    -moz-border-radius: 20px 0px;
    -ms-border-radius: 20px 0px;
    -o-border-radius: 20px 0px;
}
.pr-container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pr-heading{
    padding-top: 150px;
    margin-top: 150px;
}
.sp-sk{
    height: 220px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    background-color: aliceblue;
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
}
.sk--container{
   margin-top: 50px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}